<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>俄罗斯方块（VUE）</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/global_var.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/modelMatrixs.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/models.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/game.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/init.js" type="text/javascript" charset="utf-8"></script>
		
		<style type="text/css">
		</style>
	</head>
	<body>
		<script type="text/x-template" id="infoboard">
		    <div style="position: absolute;left: 600px;top: 500px;">
		        <ul>
		        	<li style="width:300px;"><h5>用时: {{usetime}} s</h5></li>
		        	<li><h5>得分: {{score}}</h5></li>
		        	
		        	<li>速度: &nbsp;{{cspeed.value}}<input type="range"  min="1" max="100" class="form-control" v-model="cspeed.value"/></li>
		        	<li>难度: &nbsp;{{cdiflv.value}}<input type="range"  min="1" max="8" class="form-control" v-model="cdiflv.value"/></li>
		        </ul>
		    </div>
		    
		</script>
		<div id="gamediv" class = "gamediv" :style="{top:cellHeight+'px', left:'50px', width:cellWidth*gsMatrixCols+'px', height:cellHeight*gsMatrixRows+'px'}">			
			<div id="nextdiv" class = "gamediv" :style="{top:cellHeight+'px', left:cellWidth*gsMatrixCols+100+'px', width:cellWidth*4+'px', height:cellHeight*4+'px'}">		
			</div>
			
			<infoboard :usetime="usetime" :score="score" :cspeed="speed" :cdiflv="difficutyLv"></infoboard>
			
		</div>
		<div style="position: absolute;left:500px;">
			<button type="button" onclick="bigger()">Bigger!</button>
			<button type="button" onclick="smaller()">Smaller!</button>
			<button type="button" onclick="RestoreDefault()">Restore default!</button>
		</div>
		
		<script>
			
			
			function bigger(){
				app.cellWidth++;
				app.cellHeight++;
			}
			
			function smaller(){
				app.cellWidth--;
				app.cellHeight--;
			}
			
			function RestoreDefault(){
				app.cellWidth = cellWidth;
				app.cellHeight = cellHeight;
			}
			
			window.onload = function (){
			document.onkeydown = function (e){
				if(e.keyCode == 38){//up
					onup();
				}else if(e.keyCode == 39){//right
					onright();
				}else if(e.keyCode == 40){//down
					ondown();
				}else if(e.keyCode == 37){//left
					onleft();
				}else if(e.keyCode == 32){//space
					console.log(e.keyCode);
				}
			}
			
		}
		</script>
	</body>
</html>
